<div class="container">
    <app-header></app-header>
    <div class="container-courses">
        <app-search></app-search>
        <app-btn-add-courses></app-btn-add-courses>
        <app-film 
        *ngFor="let post of filmList"
        [film]="post"
        (getDel)="getDeleteFilm($event)"
        
        ></app-film>
        <div class="listfilm">
            <div *ngIf="filmList.length === 0" class="listfilm__item"><p style="text-align: center;">Нет курсов</p></div>
        </div>
        <app-lore-more *ngIf="filmList.length !== 0"></app-lore-more>
    </div>
    <app-footer></app-footer>
</div>
