<h1>Add Course</h1>

<div class="form__group">
    <div *ngIf="coursesServices.error" class="form__group-error">
        <p>Не удалось добавить курс</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__control">
            {{f.name.errors | json}}
            <string-control 
                [errorAdd]="f.name.touched"
                title="Title" 
                name="name" 
                formControlName="name"
            >
            </string-control>
           
        </div>
        <div class="form__control">
            <textarea-control
                title="Description"
                name="description"
                formControlName="description"
            >
            </textarea-control>
        </div>
        <div class="form__control">
            <datepicker-control
                title="Date"
                name="date"
                formControlName="date" 
            >
            </datepicker-control>
        </div>
        <div class="form__control">
            <string-control 
                title="Duration" 
                name="length"
                formControlName="length"
            >
            </string-control>    
           
        </div>
        <div formArrayName="authors">
            <div
                *ngFor="let item of authors.controls; let i = index"
                class="form__control"
            >
                <div class="form__control-container" [formGroupName]="i">
                    <input type="hidden" formControlName="id" />
                    <div class="form__control-box">
                        <label>Name Author</label>
                        <input formControlName="name" type="text" />
                    </div>
                    <div class="form__control-box">
                        <label>Last Name Author</label>
                        <input formControlName="lastname" type="text" />
                    </div>
                </div>
            </div>
        </div>    
        <div class="form__control-btn">
            <button (click)="AddAuthor()" class="btn btn-green" type="button">
                Add Author
            </button>
        </div>
        <div class="form__control">
            <label for="isTopRated">Unique</label>
            <input
                id="isTopRated"
                type="checkbox"
                formControlName="isTopRated"
            />
        </div>
        <div class="form__control">
            <button class="btn btn-green" type="submit">Submit</button>
        </div>
    </form>
</div>
