.group {
  & {
    display: flex;
    justify-content: flex-end;

    &__btn {
      width: max-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: $secondary-bg-btn;
      border: none;
      font-size: 12px;
      padding: 5px 12px;

      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      p:before {
        content: '';
        width: 11px;
        height: 11px;
        padding-right: 7px;
      }
    }
  }
  & .btn--edit {
    margin-right: 10px;

    p:before {
      background: url(../assets/img/edit.svg) no-repeat;
    }
  }
  & .btn--delete {
    p:before {
      background: url(../assets/img/delete.svg) no-repeat;
    }
  }
}
