.modal{
    width: 400px;
    padding:20px 20px;
    background:#fff;
    position: fixed;
    top:50px;
    left: 50%;
    margin-left: -220px;
    z-index: 300;
    max-height: 450px;
    overflow-y: auto;

    &__close{
        position: relative;      

        &-btn{
            width: 25px;
            height: 25px;
            background:url(../assets/img/closemodal.svg) no-repeat;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__title{
        font-size:20px;
        text-align: center;
        padding-bottom: 20px;
    }
}